.custom-listgroup::-webkit-scrollbar{
  display: none;
}

body::-webkit-scrollbar{
  display: none;
}

.custom-listgroup {
    text-align: left;
    max-width: 300px !important; 
    max-height: 800px !important;
  }
  

  .title{
    font-size: 15pt;
  }
  
  @media (min-width: 992px) {
    .custom-listgroup {
      max-height: 600px;
    }
  }
  
  @media (min-width: 1600px) {
    h2.display-12 {
      font-size: 1.5rem;
    }
    .custom-listgroup {
      text-align: left;
      max-height: 600px!important; 
    }
  }

  .content-card{
    max-height: 90vh;
    min-height: 90vh; 
  }

  .result-container{
    overflow-x: hidden !important;
  }